{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block css %}

{% endblock %}

{% block content %}

<main>

    <!------------------------ Site Title ---------------------->
    <section class="site-title">
        
        <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <h3>Food & Health</h3>
            <h1 style="background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
                    color: transparent; font-family: cursive;">It is Heath That Is Real Wealth And Not Pieces Of Gold And Silver.</h1>
            <button class="btn"><a href="./Form/loginone.html">Order Now</a> </button>
        </div>
	
    </section>

    <section class="recommendation">
        <div style="display: flex;
            flex-direction: column;
            text-align: center;
            background-color: #aaddff;
            width: 70%;
            height: 40px;
            margin: 3rem 2rem;
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
            border-radius: 25px; color: red;  ">
            <h3>Recommendation for You</h3>
        </div>
        
    </section>

    <!------------x----------- Site Title ----------x----------->

    <!-- --------------------- Blog Carousel ----------------- -->

    <section>
        <div class="blog">
            <div class="container">
                <div class="owl-carousel owl-theme blog-post">
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="./images/food/img-1.jpg" alt="post-1" width="300" height="300">
                        <div class="blog-title">
                            <h3>The only thing I like better than talking about Food is eating</h3>
                            <button class="btn btn-blog">About</button>
                            <span>Rating</span>
                        </div>
                    </div>

                     <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="./images/food/img-2.jpg" alt="post-1" width="300" height="300">
                        <div class="blog-title">
                            <h3>The only thing I like better than talking about Food is eating</h3>
                            <button class="btn btn-blog">About</button>
                            <span>Rating</span>
                        </div>
                    </div>
                     <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="./images/food/img-3.jpg" alt="post-1" width="300" height="300">
                        <div class="blog-title">
                            <h3>The only thing I like better than talking about Food is eating</h3>
                            <button class="btn btn-blog">About</button>
                            <span>Rating</span>
                        </div>
                    </div>

                    <div class="blog-content" data-aos="fade-in" data-aos-delay="200">
                        <img src="./images/food/img-4.jpg" alt="post-1" width="300" height="300">
                        <div class="blog-title">
                            <h3>Malai Tinda | No Onion Garlic Tinda Sabji</h3>
                            <button class="btn btn-blog">About</button>
                            <span>Rating</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                        <img src="./images/food/img-5.png" alt="post-1" width="300" height="300">
                        <div class="blog-title">
                            <h3>The only thing I like better than talking about Food is eating</h3>
                            <button class="btn btn-blog">About</button>
                            <span>Rating</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="./images/food/img-9.png" alt="post-1" width="300" height="300">
                        <div class="blog-title">
                            <h3>The only thing I like better than talking about Food is eating</h3>
                            <button class="btn btn-blog">About</button>
                            <span>Rating</span>
                        </div>
                    </div>
                </div>
                <div class="owl-navigation">
                    <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                    <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </div>
        </div>
    </section>
  


    <!-- ----------x---------- Blog Carousel --------x-------- -->
    <!-- ---------------------- Site Content -------------------------->

    <section class="container">
        <div class="site-content">
            <div class="posts">
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="./images/food/dalbhat.jpg" class="img" alt="blog1" width="350" height="350" style="border-radius: 25px;">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14, 2019</span>
                            <span>2 Comments</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Nepali Food Dalbhat</a>
                        <p>The staple food of each Nepali household, Dal Bhat is mainly rice served along with lentil soup and vegetable curry or chicken (or meat). This meal is the most beloved one amongst Nepali people as it's wholesome and provides with the needed nutrition.
                        </p>
                        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <hr>
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="./images/food/dhido.jpg" class="img" alt="blog1" width="350" height="350" style="border-radius: 25px;">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 16, 2019</span>
                            <span>7 Commets</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Dhido</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                            adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                            nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                            illum similique veniam tempore unde?
                        </p>
                        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <hr>
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="./images/food/gorkhalimasu.jpg" class="img" alt="blog1" width="350" height="350" style="border-radius: 25px;">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 19, 2019</span>
                            <span>5 Commets</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Gorkhali Masu</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                            adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                            nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                            illum similique veniam tempore unde?
                        </p>
                        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <hr>
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="./images/food/samayabaji.jpg" class="img" alt="blog1" width="350" height="350" style="border-radius: 25px;">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21, 2019</span>
                            <span>12 Commets</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Samayabaji</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                            adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                            nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                            illum similique veniam tempore unde?
                        </p>
                        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="pagination flex-row">
                    <a href="#"><i class="fas fa-chevron-left"></i></a>
                    <a href="#" class="pages">1</a>
                    <a href="#" class="pages">2</a>
                    <a href="#" class="pages">3</a>
                    <a href="#"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <aside class="sidebar">
                <div class="category">
                    <h2>Category</h2>
                    <ul class="category-list">
                    	{% for category in categoryname %}
                        <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                            <a href="#">{{category.title}}</a>
                            <span>({{category.fooditem_set.all.count}})</span>
                        </li>
                        {% endfor %}
                    <!--     <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                            <a href="#">Brunch</a>
                            <span>(02)</span>
                        </li>
                        <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                            <a href="#">Lunch</a>
                            <span>(07)</span>
                        </li>
                        <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                            <a href="#">Super</a>
                            <span>(01)</span>
                        </li>
                        <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                            <a href="#">Dinner</a>
                            <span>(08)</span>
                        </li> -->
                    </ul>
                </div>
                <div class="popular-post">
                    <h2>Popular Post</h2>
                    <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="./images/food/jujudhau.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                    2019</span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">Juju Dhau</a>
                        </div>
                    </div>
                    <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                        <div class="post-image">
                            <div>
                                <img src="./images/food/momo.jpeg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                    2019</span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">Mo:Mo</a>
                        </div>
                    </div>
                    <div class="post-content" data-aos="flip-up" data-aos-delay="400">
                        <div class="post-image">
                            <div>
                                <img src="./images/food/selroti.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                    2019</span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">Thukpa</a>
                        </div>
                    </div>
                    <div class="post-content" data-aos="flip-up" data-aos-delay="500">
                        <div class="post-image">
                            <div>
                                <img src="./images/food/thukpa.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                    2019</span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">Yomari</a>
                        </div>
                    </div>
                    <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                        <div class="post-image">
                            <div>
                                <img src="./images/food/yomari.jpg" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                    2019</span>
                                <span>2 Commets</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">Yomari</a>
                        </div>
                    </div>
                </div>
                <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
                    <h2>Newsletter</h2>
                    <div class="form-element">
                        <input type="text" class="input-element" placeholder="Email">
                        <button class="btn form-btn">Subscribe</button>
                    </div>
                </div>
                <div class="popular-tags">
                    <h2>Popular Food</h2>
                    <div class="tags flex-row">
                        <span class="tag" data-aos="flip-up" data-aos-delay="100">Dal Bhat</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="200">Mo:MO</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="300">Chatamari</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="400">Newari Khaja set</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="500">Thakali Khana</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="600">Chhoila</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="700">Kachela</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="800">Khir</span>
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <!-- -----------x---------- Site Content -------------x------------>

</main>

{% endblock %}

{% block js %}

{% endblock %}